*{
  margin: 0;
  padding: 0;
}


.bg-navbar {
  background-color: #3a298a;
}

.body {
  background-color: rgb(54, 63, 150);
}

.titulo__secundario{
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight:bold;
}

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.img-fluid {
  width: 70px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Zen+Antique+Soft&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*:::::FOOTER*/
.footer__responsive {
    width: 100%;
    background-color: #1a0844;
}
.footer__responsive .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.footer__responsive .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__responsive .grupo-1 .box figure img{
    width: 100px;
}
.footer__responsive .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer__responsive .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer__responsive .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #084298;
    text-align: center;
    transition: all 300ms ease;
}
.footer__responsive .grupo-1 .red-social a:hover{
    color: aqua;
}
.footer__responsive .grupo-2{
    background-color: #3a298a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer__responsive .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .footer__responsivea .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}